.app-item-list
{
  width: 100%;
}

.home-bg {
  background-image: url('../../assets/home-background.jpg') !important;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.mat-toolbar
{
  background-color: #FFFFFF00;
}
