.home-bg {
  background-image: url('../../assets/home-background.jpg') !important;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.logout-comp
{
  float: right;
  margin: 20px;
}

.home-grid
{
  width: 100vw;
  display: inline-block;
  //grid-template-columns: auto auto;
}

.home-grid-col
{
  display: inline-block;
  width: 46%;
  padding: 2% 2% 2% 2%;
  vertical-align:top;
  align-content: start;
}

.logout-row
{
}


