$mediaScreenWidth: 1260px;
$mediaTabletWidth: 960px;
$mediaPhoneWidth: 480px;

.home-bg {
  background-image: url('../../assets/home-background.jpg') !important;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.logout-comp
{
  float: right;
  margin: 20px;
}

.home-grid
{
  width: 100vw;
  display: inline-block;
  //grid-template-columns: auto auto;
}

.home-grid-col
{
  display: inline-block;
  width: 46%;
  padding: 2% 2% 2% 2%;
  vertical-align:top;
  align-content: start;
}

.newList-button
{
  background-color: #FFFFFFCC;
  padding: 5px 15px 5px 15px;
}

@media (max-width: $mediaPhoneWidth) {
  .home-grid-col
  {
    display: inline-block;
    width: 94%;
    padding: 3% 3% 3% 3%;
    vertical-align:top;
    align-content: start;
  }

  .mobile-hidden
  {
    display: none !important;
  }
}
