.background {
  background-image: url('../../assets/home-background.jpg') !important;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.list-form {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 15px auto;
  background-color: #FFFFFFCC;
  padding: 15px 15px 15px 20px;
  border-radius: 5px;
}

.home-grid
{
  width: 100vw;
  display: inline-block;
  vertical-align:top;
  align-content: start;
}

.backToListView-button
{
  background-color: #FFFFFFCC;
  padding: 5px 15px 5px 15px;
}
.logout-comp
{
  float: right;
  margin: 20px;
}
