<div class="background">
  <div class="logout-row">
    <app-logout class="logout-comp"></app-logout>
    <button class="logout-comp backToListView-button" mat-button type="submit" color="primary"
            (click)="backToListView()">
      <mat-icon aria-hidden="false" aria-label="undo">undo</mat-icon>
      Back
    </button>

  </div>
  <div class="home-grid">
    <form [formGroup]="listFormGroup" class="list-form">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name" required>
        <mat-hint align="end">name of the list</mat-hint>
        <mat-error *ngIf="listFormGroup.controls.name.hasError('required')">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Owner" formControlName="owner_name" readonly>
        <mat-hint align="end">owner of the list</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="Location" formControlName="location">
        <mat-hint align="end">location of the list</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="List Type" formControlName="list_type" required>
          <mat-option [value]="toInt(list_type.key)"
                      *ngFor="let list_type of listService.listTypes | keyvalue">
            {{list_type.value}}
          </mat-option>
        </mat-select>
        <mat-hint align="end">type of the list</mat-hint>
        <mat-error *ngIf="listFormGroup.controls.list_type.hasError('required')">List Type is required</mat-error>
      </mat-form-field>

      <br/>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!listFormGroup.valid" (click)="createList()">
          <mat-icon aria-hidden="false" aria-label="done">done</mat-icon>
          <span *ngIf="!listFormGroup.controls.id.value">Create</span>
          <span *ngIf="listFormGroup.controls.id.value">Update</span>
        </button>
        <button mat-raised-button (click)="deleteList()" *ngIf="list_id">
          <mat-icon aria-hidden="false" aria-label="delete_forever">delete_forever</mat-icon>
          <span>Delete</span>
        </button>
      </mat-card-actions>
    </form>

    <app-role-list *ngIf="listFormGroup.controls.id.value" [list_id]="list_id"></app-role-list>

  </div>
</div>
