<h1 mat-dialog-title>Edit Role</h1>
<div mat-dialog-content>

  <mat-form-field>
    <mat-select placeholder="Username" (change)="onUserChange(element, $event.value.id)"
                [(ngModel)]="this.data.role.user">
      <mat-form-field>
        <input matInput type="text" (keyup)="filterUserList($event.target.value)" class="select-filter">
      </mat-form-field>
      <mat-option *ngFor="let user of filteredUsers" [value]="user.id">
        {{ user.username }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Role Type" [(ngModel)]="this.data.role.role_type">
      <mat-option [value]="roleOption" *ngFor="let roleOption of listService.role_types | keyvalue">
        {{roleOption.value}}
      </mat-option>
    </mat-select>
    <mat-hint align="end">role type of the user</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    <mat-icon aria-hidden="false" aria-label="cancel">cancel</mat-icon>
    Cancel
  </button>
  <button mat-button color="primary" (click)="saveRole()" [mat-dialog-close]="data.role.id" cdkFocusInitial>
    <mat-icon aria-hidden="false" aria-label="save">save</mat-icon>
    Save
  </button>
</div>


