<mat-card class="item-list-card">

  <!-- List select -->
  <mat-form-field class="list-select">
    <mat-label class="list-select">Select a list</mat-label>
    <mat-select [(value)]="listId" (selectionChange)="updateListSelection($event.value)" class="list-select">
      <mat-option *ngFor="let list of listOptions" [value]="list.id" class="list-select-option">
        {{list.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Item List --><!--
  <div *ngFor="let item of items" class="item-list">
    <app-single-item [itemName]="item.name" [itemCount]="item.amount" [itemId]="item.id" [itemPriority]="item.priority"
                     [isLeft]="false" [listId]="this.listId"></app-single-item>
  </div>-->

  <div class="item-list">
    <div cdkDropList #ditemList="cdkDropList" [id]="listId"
         class="" (cdkDropListDropped)="dropItem($event)">
      <div class="" *ngFor="let item of items" cdkDrag [id]="item.id">
        <app-single-item [itemName]="item.name" [itemCount]="item.amount" [itemId]="item.id" [itemPriority]="item.priority" [listType]="item.listType" [itemExpires]="item.expires" [itemChecked]="item.checked"
                         [isLeft]="false" [listId]="this.listId" (refreshParent)="updatedList($event)"></app-single-item>
      </div>
      <div class="buffer-div"></div>
    </div>
  </div>

  <div *ngIf="listId!==undefined">
    <button class="logout-comp newList-button" mat-button type="submit" color="primary" (click)="editList()">
      <mat-icon aria-hidden="false" aria-label="settings_applications">settings_applications</mat-icon>
      Edit list
    </button>

    <button class="logout-comp newList-button" mat-button type="submit" color="primary" (click)="newItem()">
      <mat-icon aria-hidden="false" aria-label="add">add</mat-icon>
      New item
    </button>
  </div>




</mat-card>
