.item-list
{
  width: 100%;
}

.list-select
{
  width: 100%;

}

.list-select-option
{
  z-index: 99;
}

.item-list-card, .mat-card
{
  background-color: #FFFFFFCC !important;
}

.buffer-div
{
  width: 100%;
  height: 5px;
}
