.mat-card
{
  background-color: #FFFFFFDD !important;
  width: 100%;
}

.mat-expansion-panel
{
  background-color: #FFFFFFAA !important;
  margin: 7px;
}

.test {
  max-width: 100%;
}

.right
{
  float: right;
  text-align: right;
  display: block;
}

.mat-icon
{
  color: #388e3c;
}
