<mat-expansion-panel (click)="handleClick()" [hideToggle]="true" class="test">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ itemCount == null ? 1 : itemCount }}x {{itemName.length > 10 ? itemName.substr(0,10) + "..." : itemName}}

    </mat-panel-title>
    <mat-panel-description *ngIf="listType === 1" class="right">
      <span class="right">{{itemExpires}}</span>
    </mat-panel-description>
    <mat-panel-description *ngIf="listType === 2" class="right">

      <mat-checkbox [(ngModel)]="itemChecked" [disabled]="permission_level < 2"
                    (click)="$event.stopPropagation();"
                    (keydown)="$event.stopPropagation()"
                    (change)="onCheckedChange($event)">
        In Cart
      </mat-checkbox>

    </mat-panel-description>
    <mat-icon aria-hidden="false" aria-label="Approval required" *ngIf="!accepted">gavel</mat-icon>
  </mat-expansion-panel-header>

  <p *ngIf="itemPriority">Priority: {{itemService.getPriorityFriendlyName(itemPriority)}}</p>
  <div *ngIf="listType === 1 && itemExpires">
    <p *ngIf="dayExpries > 0">Expires in {{dayExpries}} days ({{itemExpires}})</p>
    <p *ngIf="dayExpries == 0">Expires today</p>
    <p *ngIf="dayExpries < 0">Expired {{dayExpries * (-1)}} days ago ({{itemExpires}})</p>
  </div>
  <mat-action-row>
    <button mat-button (click)="editItem()" color="primary" [disabled]="permission_level < 2">
      <mat-icon>settings_applications</mat-icon>
      Edit
    </button>
    <button mat-button (click)="deleteItem()" color="primary" [disabled]="permission_level < 2">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-action-row>

</mat-expansion-panel>
