<mat-expansion-panel (click)="handleClick()">
  <mat-expansion-panel-header>
    <mat-panel-title>
    {{ itemCount == null ? 1 : itemCount }}x {{itemName}}
    </mat-panel-title>
    <mat-panel-description>
      <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (keydown)="$event.stopPropagation()" >
        In Cart
      </mat-checkbox>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <p>Priority: {{itemPriority}}</p>
  <mat-action-row>
    <button mat-button (click)="editItem()">
      <mat-icon>settings_applications</mat-icon>
      Edit
    </button>
    <button mat-button (click)="deleteItem()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-action-row>

</mat-expansion-panel>
