<form class="register-form" [formGroup]="registerFormGroup" (ngSubmit)="register()">
  <mat-form-field class="register-field">
    <input matInput placeholder="Username" formControlName="username" name="username" required>
    <mat-error *ngIf="registerFormGroup.controls.username.hasError('required')">Name is required</mat-error>
  </mat-form-field>
  <mat-form-field class="register-field">
    <input matInput placeholder="Email" formControlName="email" name="email" required>
    <mat-error *ngIf="registerFormGroup.controls.email.hasError('required')">E-mail is required</mat-error>
    <mat-error *ngIf="registerFormGroup.controls.email.hasError('invalidEmail') && !registerFormGroup.controls.email.hasError('required')">Not a valid e-mail address</mat-error>
  </mat-form-field>
  <mat-form-field class="register-field">
    <input matInput placeholder="Password" formControlName="password" type="password" name="password"
           required>
    <mat-error *ngIf="registerFormGroup.controls.password.hasError('required')">Password is required</mat-error>
  </mat-form-field>
  <div class="register-action">
    <button mat-raised-button class="register-button" type="submit" color="primary" [disabled]="!registerFormGroup.valid">Register</button>
  </div>
</form>
