<form class="login-form" [formGroup]="loginFormGroup" (ngSubmit)="login()">
  <mat-form-field class="login-field">
    <input matInput placeholder="Username" formControlName="username" name="username" required>
  </mat-form-field>
  <mat-form-field class="login-field">
    <input matInput placeholder="Password" formControlName="password" type="password" name="password"
           required>
  </mat-form-field>
  <div class="login-action">
    <button mat-raised-button class="login-button" type="submit" color="primary">Login</button>
  </div>
</form>
